# PostgreSQL Database URL
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/face_auth

# Face Recognition Thresholds
CONFIDENCE_THRESHOLD=0.40
MATCH_THRESHOLD=0.55

# Liveness Detection
LIVENESS_CHECK=False

# Admin Bootstrap Credentials
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin@1234
#For JWT and other security-related features, ensure to change this in production
SECRET_KEY=To_be_chaged_while_using_look_in_to_docs