absl-py==2.4.0
annotated-types==0.7.0
anyio==4.13.0
astunparse==1.6.3
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
brotli==1.2.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
ConfigArgParse==1.7.5
cryptography==48.0.0
deepface==0.0.93
ecdsa==0.19.2
fastapi==0.115.0
filelock==3.29.0
fire==0.7.1
Flask==3.1.3
flask-cors==6.0.2
Flask-Login==0.6.3
flatbuffers==25.12.19
fsspec==2026.4.0
gast==0.7.0
gdown==6.0.0
gevent==26.4.0
geventhttpclient==2.3.9
google-pasta==0.2.0
greenlet==3.5.0
grpcio==1.80.0
gunicorn==26.0.0
h11==0.16.0
h5py==3.14.0
httptools==0.7.1
idna==3.13
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
keras==3.14.0
libclang==18.1.1
locust==2.32.3
lz4==4.4.5
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
msgpack==1.1.2
mtcnn==1.0.0
namex==0.1.0
numpy==2.4.4
opencv-python==4.13.0.92
opt_einsum==3.4.0
optree==0.19.0
packaging==26.2
pandas==3.0.2
pillow==12.2.0
protobuf==7.34.1
psutil==7.2.2
psycopg2-binary==2.9.10
pyasn1==0.6.3
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.27
pywin32==311
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.33.1
retina-face==0.0.17
rich==15.0.0
rsa==4.9.1
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.36
starlette==0.38.6
tensorflow==2.21.0
tensorflow_cpu==2.21.0
termcolor==3.3.0
tf_keras==2.21.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
uvicorn==0.30.6
watchfiles==1.1.1
websockets==16.0
Werkzeug==3.1.8
wrapt==2.1.2
zope.event==6.2
zope.interface==8.4